{% extends 'dashboard_principal_participante.html' %}
{% load static %}

{% block title %}Detalle de Calificación - {{ participante.par_nombre }}{% endblock %}

{% block content %}
<div class="container mt-5 mb-5">
    <h2 class="contenedor">Detalle de Calificación</h2>

    <div class="contenedor">
        <div class="card-body">
            <h4 class="card-title">Información del Participante</h4>
            <p><strong>Nombre:</strong> {{ participante.usuario.username }}</p>
            <p><strong>Cédula:</strong> {{ participante.id }}</p>
            <p><strong>Evento:</strong> {{ evento.eve_nombre }}</p>
        </div>
    </div>



    <div class="card mt-4">
        <div class="card-body">
            {% if calificaciones %}
            <table class="table table-bordered mt-4">
                <thead class="table-light">
                    <tr>
                        <th>Evaluador</th>
                        <th>Descripción del Criterio</th>
                        <th>Peso del Criterio %</th>
                        <th>Calificación</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cal in calificaciones %}
                    <tr>
                        <td>{{ cal.cal_evaluador_fk.usuario.username }}</td>
                        <td>{{ cal.cal_criterio_fk.cri_descripcion }}</td>
                        <td>{{ cal.cal_criterio_fk.cri_peso }}</td>
                        <td>{{ cal.cal_valor }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
                <p>No hay calificaciones disponibles para este participante.</p>
            {% endif %}
        </div>
    </div>

    <!-- Botón para volver a la lista de participantes -->
    <div class="pt-4">
        <a href="{% url 'ver_calificaciones_par' evento.id %}" class="btn btn-secondary">Volver al Podio</a>
    </div>
</div>
{% endblock %}
