{% extends 'dashboard_principal_admin.html' %}

{% block title %}Cambio de Contraseña{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="shadow">
                <div class="card-body">
                    <h3 class="text-center my-4 mb-5 contenedor">Cambiar Contraseña</h3>
                    <form method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="password1" class="form-label">Nueva Contraseña</label>
                            <input type="password" name="password1" class="form-control" required minlength="6">
                        </div>
                        <div class="mb-3">
                            <label for="password2" class="form-label">Confirmar Contraseña</label>
                            <input type="password" name="password2" class="form-control" required minlength="6">
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Guardar Contraseña</button>
                        </div>
                    </form>
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }} mt-3" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                    <p class="mt-4">
                        <strong>Requisitos para la nueva contraseña:</strong><br>
                        • Mínimo <strong>8 caracteres</strong> de longitud.<br>
                        • Al menos <strong>una letra mayúscula</strong> (A-Z).<br>
                        • Al menos <strong>una letra minúscula</strong> (a-z).<br>
                        • Al menos <strong>un carácter especial</strong> (por ejemplo: <code>@</code>, <code>#</code>, <code>$</code>, <code>%</code>, <code>&</code>, <code>*</code>, <code>!</code>, etc.).<br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
