{% extends 'dashboard_principal_admin.html' %}
{% load static %}

{% block title %}Crear Categoría{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Crear Nueva Categoría</h2>

    <form method="post">
        {% csrf_token %}
        
        <div class="card p-4 mb-3 shadow-sm">
            <h4>Datos de la Categoría</h4>
            <div class="form-group mb-3">
                <label for="id_cat_area_fk">Área</label>
                {{ form.cat_area_fk }}
            </div>
            <div class="form-group mb-3">
                <label for="id_cat_nombre">Nombre de la Categoría</label>
                {{ form.cat_nombre }}
            </div>
            <div class="form-group mb-3">
                <label for="id_cat_descripcion">Descripción de la Categoría</label>
                {{ form.cat_descripcion }}
            </div>
        </div>

        <div>
            <button type="submit" class="btn btn-primary">Guardar</button>
            <a href="{% url 'lista_categorias' %}" class="btn btn-secondary">Ver lista de categorías</a>
        </div>
    </form>

    <a href="{% url 'dashboard_admin' %}" class="btn btn-secondary mt-5">Volver al Dashboard</a>
</div>
{% endblock %}
