{% extends 'dashboard_principal_admin.html' %}
{% load static %}

{% block title %}Info Evento{% endblock %}

{% block content %}



<div class="container mt-5 mb-5">
    <h2 class="contenedor">INFORMACIÓN DEL EVENTO</h2>
    <div class="carta mb-3">
        <div class ="row md-6 p-4">
            <div class="col-md-5 d-flex justify-content-center align-items-center">
                <img src="{{ evento.eve_imagen.url }}" alt="{{ evento.eve_nombre }}" class="card img-fluid rounded mb-2 evento-img" style="max-width: 300px; height: auto; box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);">
            </div>
            <div class="col-md-1 d-flex justify-content-center">
                <div class="vr" style="height: 100%; width: 1px; background-color: #ccc;"></div>
            </div>
            <div class="col-md-6 ">
                <div class="card-body ">
                    <h2 class="card-title pb-4">{{ evento.eve_nombre }}</h2>
                    <p class="card-text pb-3">{{ evento.eve_descripcion }}</p>
                    <hr>
                    <div class="row pb-3">
                        <div class="col-md-6">
                            <p class="card-text"><small ><strong>Ciudad:</strong> {{ evento.eve_ciudad }}</small></p>
                        </div>
                        <div class="col-md-6">
                            <p class="card-text"><small ><strong>Lugar:</strong> {{ evento.eve_lugar }}</small></p>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col-md-6">
                            <p class="card-text"><small ><strong>Fecha de Inicio:</strong> {{ evento.eve_fecha_inicio|date:"d M Y" }}</small></p>
                        </div>
                        <div class="col-md-6">
                            <p class="card-text"><small ><strong>Fecha de Fin:</strong> {{ evento.eve_fecha_fin|date:"d M Y" }}</small></p>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col-md-6">
                            <p class="card-text"><small ><strong>Capacidad:</strong> {{ evento.eve_capacidad }} personas</small></p>
                        </div>
                        <div class="col-md-6">
                            <p class="card-text"><small ><strong>Estado Costo:</strong> {{ evento.eve_tienecosto }}</small></p>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col-md-6">
                            <p class="card-text"><small ><strong>Estado:</strong> {{ evento.eve_estado }}</small></p>
                        </div>
                    </div>
                </div>
                    <small class=" text-center">
                        
                        <br>
                        <br>
                        <div class="row justify-content-center pb-4">
                            <strong>Programación:</strong>
                            <br>
                            <br>
                            <div class="col-md-12 text-center">
                            {% if evento.eve_programacion %}
                                <a href="{{ evento.eve_programacion.url }}" download target="_blank" class="btn btn-success mb-1 ">Descargar</a>
                                <a href="{{ evento.eve_programacion.url }}" target="_blank" class="btn btn-success mb-1">Previsualizar programación</a>
                            {% else %}
                                No disponible
                            {% endif %}
                            </div>
                        </div>
                    </small> 
                </div>
            </div>
        </div>   
        <div class="text-start pt-5">
            <a href="{% url 'dashboard_admin' %}" class="btn btn-secondary m-1">Volver al Inicio</a>
        </div>  
    </div>       
</div>


    

{% endblock %}