{% extends 'dashboard_principal_admin.html' %}
{% load static %}

{% block title %}Validaciones{% endblock %}

{% block content %}
<div class="container mt-5 mb-5">
    <h2 class="contenedor">Validaciones</h2>
    
    {% block subvalidaciones %}
    <div class="row mb-4 justify-content-center">
        <div class="col-md-2">
            <a href="{% url 'validacion_par' evento.id %}" class="btn btn-outline-success mb-3">Validar Participante</a>
        </div>
        <div class="col-md-2">
            <a href="{% url 'validacion_asi' evento.id %}" class="btn btn-outline-success mb-3">Validar Asistentes</a>
        </div>
       
        <div class="col-md-2">
            <a href="{% url 'validacion_eva' evento.id %}" class="btn btn-outline-success mb-3">Validar Evaluadores</a>
        </div>
    </div>
    {% endblock subvalidaciones %}
    

    {% block validar %}
    <div class="text-start pt-5">
        <a href="{% url 'dashboard_admin' %}" class="btn btn-secondary m-1">Volver al Inicio</a>
    </div>
    {% endblock validar %}

    
</div>
{% endblock %}
