{% extends 'base.html' %}
{% load static %}

{% block title %}Crear Evaluador{% endblock %}

{% block content %}


<div class="container mt-5 mb-5">
    <h2 class = "contenedor">Formulario de Preinscripción de evaluador</h2>


    <div class="row px-5">
        <div class="card contenedor col-2">
            <img src="{{ evento.eve_imagen.url }}" alt="Imagen del Evento" class="img-fluid rounded mx-auto d-block evento-img" style="max-width: 100%; height: auto;">
            
        </div>
        <div class="col-8 pt-5">
            <h4 class="text-center pt-4"><strong>{{ evento.eve_nombre}}</strong></h4>
            <p class="pt-4">{{evento.eve_descripcion}}</p>
        </div>
    </div>
    <hr>


    <div class=" mb-5 text-center">
        {% if evento.eve_capacidad > 0 %}
            <p><strong>Cupos disponibles:</strong> {{ evento.eve_capacidad }}</p>
        {% else %}
            <p class="text-danger"><strong>No hay cupos disponibles para este evento.</strong></p>
        {% endif %}
    </div>



    <form method="POST" enctype="multipart/form-data" novalidate>
        {% csrf_token %}

        <div class="row -12">
            <div class="col mb-3">
                <label for="{{ form.id.id_for_label }}" class="form-label">Cédula</label>
                {{ form.id }}
                {% if form.id.errors %}
                    <div class="text-danger">
                        {{ form.id.errors }}
                    </div>
                {% endif %}
            </div>

            <div class="col mb-3">
                <label for="{{ form.username.id_for_label }}" class="form-label">Nombre de usuario</label>
                {{ form.username }}
                {% if form.username.errors %}
                    <div class="text-danger">
                        {{ form.username.errors }}
                    </div>
                {% endif %}
            </div>

            <div class="col mb-3">
                <label for="{{ form.email.id_for_label }}" class="form-label">Correo electrónico</label>
                {{ form.email }}
                {% if form.email.errors %}
                    <div class="text-danger">
                        {{ form.email.errors }}
                    </div>
                {% endif %}
            </div>
        </div>


        <div class="row -12">
            <div class="col mb-3">
                <label for="{{ form.telefono.id_for_label }}" class="form-label">Teléfono</label>
                {{ form.telefono }}
                {% if form.telefono.errors %}
                    <div class="text-danger">
                        {{ form.telefono.errors }}
                    </div>
                {% endif %}
            </div>
            <div class="col mb-3">
                <label for="{{ form.first_name.id_for_label }}" class="form-label">Nombre</label>
                {{ form.first_name }}
                {% if form.first_name.errors %}
                    <div class="text-danger">
                        {{ form.first_name.errors }}
                    </div>
                {% endif %}
            </div>

            <div class="col mb-3">
                <label for="{{ form.last_name.id_for_label }}" class="form-label">Apellido</label>
                {{ form.last_name }}
                {% if form.last_name.errors %}
                    <div class="text-danger">
                        {{ form.last_name.errors }}
                    </div>
                {% endif %}
            </div>
        </div>
        <!-- Cargar documento -->
        <div class="mb-3">
            <label class="form-label">Cargar Documento:</label>
            <input type="file" name="eva_eve_documento" id="pdfInput" class="form-control" accept=".pdf">
        </div>

        <!-- Contenedor de previsualización -->
        <div class="mb-3" id="pdfPreviewContainer" style="display: none;">
            <label class="form-label btn-info btn-sm">Vista previa del nuevo documento:</label>
            <iframe id="pdfPreview" width="100%" height="400px" style="border: 1px solid #ccc; border-radius: 8px;"></iframe>
        </div>
        <p class="text-muted alert alert-warning">
            Debes subir un archivo en formato <strong>PDF</strong> que contenga la <strong>foto de tu cédula</strong>, así como <strong>certificaciones que respalden tu experiencia como evaluador</strong>, tales como diplomas, constancias o documentos que demuestren tu participación previa en eventos similares.
        </p>
        <div class=" mt-5  text-center">
            <button type="submit" class="btn btn-primary ">Enviar Registro</button>
        </div>
    </form>
</div>


{% endblock %}
